{% extends '_shared.master' %}

{% block content %}

	<h1 class="text-center"><span class="glyphicon glyphicon-star"></span> Famous Blog Manager</h1>
	<hr>

	<p class="lead text-center">No blog posts yet. Let's get started. <a href="/admin/posts/create">Create your first post!</a></p>

{% endblock %}