{% extends '_shared.master' %}

{% block content %}

	<h1 class="text-center">Site Down For Maintenance</h1>
	<p class="lead text-center">We are currently performing routine maintenance on the site. Please check back later.</p>

{% endblock %}