{% extends '_shared.master' %}

{% block content %}

	<h1 class="text-center">ERROR. ERROR. ERROR.</h1>
	<p class="lead text-center">Something unfortunate happened on the blog. We've been notified of the issue.</p>

{% endblock %}